<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    {{#if user}}
      <p>
        {{user}}{{displayName}}
        |
        <a href="/users/logout">Logout</a>
        |
        <a href="/users/profile/:id">Saved Trails</a>
        |
        <a href="/trails"><button type="button" name="button">Find a Trail</button></a>
      </p>
      {{else}}
      <p>log in to have fun</p>
      <a href="/users/login">Login</a>
      <a href="/users/register">Register</a>
      <a href="/auth/google">Login/Register with your Google Account</a>
    {{/if}}
    {{{body}}}

  </body>
</html>
