<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <div class="user-nav">
      <nav>
    {{#if user}}
      <p>
        {{user}}{{name}}
        |
        <a href="/users/logout">Logout</a>
        |
        <a href="/users/profile/:id">Saved Trails</a>
        |
        <a href="/trails">Find a Trail</a>
      </p>
      {{else}}
      <a href="/users/login">Login</a>
      |
      <a href="/users/register">Register</a>
<!--       <a href="/auth/google">Login/Register with your Google Account</a>
 --> {{/if}}
    </nav>
    <h1 class="jumbotron">Fair Weather Trails</h1>
    </div>
    {{{body}}}
  </body>
</html>
