{{#if user}}
  <section class="trail">
    <p id="profile-header">
      <h2>{{user}}'s Trails</h2>
    </p>
{{/if}}
{{#if trails}}
  {{#each trails}}
    <article class="trail-list">
    <form action="/users/profile/trails/:id" method="get" id="trail-tile">
      <input type="text" hidden name="trailId" value="{{_id}}">
      <input type="submit" value="{{name}}" id="trail-name">
    </form>
    {{#each activities}}
      <img src="{{thumbnail}}" class="icon" />
    {{/each}}
    <p><h5>Nearest city: </h5><h6>{{city}}</h6> </p>
    <p class='desc'><h5>Activities: </h5></p>
    {{#each activities}}
      <li>{{activity_type_name}}</li>
    {{/each}}
    <form action="/users/profile/trails/:id" method="post">
      <input type="text" hidden name="trailId" value="{{_id}}">
      <input type="submit" value="Remove" id="delete">
    </form>
  </article>
  {{/each}}
  </section>
{{/if}}
