<section class="trailid">
{{#if trail}}
  <h2>{{trail.name}}</h2>
  {{#if trail.desctiption}}
  <h5>Description: </h5><h6>{{trail.description}}</h6>
  {{/if}}
  <h4>Directions: </h4><h5>{{trail.directions}}</h5>
  <div class="activities">
  <p><h3>Activities:</h3>
    {{#each trail.activities}}
      <h4>{{activity_type_name}}</h4>
      <img src="{{thumbnail}}" class="thumbnail"/>
      <p>
        {{description}}
      </p>
      <a href="{{url}}">More details</a>
      {{#each trail.activities.activity_type}}
        <img src="{{thumbnail}}"/>
      {{/each}}
    {{/each}}
</div>
  <form  action="/users/profile/:id" method="post">
    <input type="text" name="name" value="{{trail.name}}" hidden>
    <input type="submit" name="saveTrail" value="Save Trail" id="saveTrail">
  </form>
{{/if}}
</section>

<section class= "weather">
{{#if weather}}
  {{#if city}}
    <h2>3 Day forcast for {{city}}</h2>
  {{/if}}
  {{#each weather}}
  <section class="weather-tile">
    <img src="{{icon_url}}" alt="" />
    <h4 class="weather-title">{{title}}</h5>
    <p class="forecast">{{fcttext}}</p>
    </section>
  {{/each}}
  {{else}}
  <h3>Weather Unavailable for this Trail. Sorry!</h3>
{{/if}}

</section>
