{{#if trail}}
  <h3>{{trail.name}}</h3>
  <h5>Description: {{trail.description}}</h5>
  <h4>Directions: {{trail.directions}}</h4>
  <div class="activities">
  <p><h3>Activities:</h3>
    {{#each trail.activities}}
      <h4>{{activity_type_name}}</h4>
      <img src="{{thumbnail}}" class="thumbnail"/>
      <p>
        {{description}}
      </p>
      <a href="{{url}}">More details</a>
      {{#each trail.activities.activity_type}}
        <img src="{{thumbnail}}"/>
      {{/each}}
    {{/each}}
</div>
  <form  action="/users/profile/:id" method="post">
    <input type="text" name="name" value="{{trail.name}}" hidden>
    <input type="submit" name="saveTrail" value="Save Trail">
  </form>
{{/if}}

{{#if weather}}
  {{#if city}}
    <h2>3 Day forcast for {{city}}</h2>
  {{/if}}
  {{#each weather}}
    <img src="{{icon_url}}" alt="" />
    <h5>{{title}}</h5>
    <p>
      {{fcttext}}
    </p>
  {{/each}}
{{/if}}
